#contenedor {  
    margin: 8px;  
    width: 700px;  
    background-color: #C0C0C0;  
   }  
   #cabecera {  
    background-color: #6666FF;  
   }  
   #menu {  
    float: left;  
    width: 150px;  
    background-color: #669900;  
   }  
   #contenido {  
    float: left;  
    width: 550px;  
    background-color: #FFFFFF;  
   }  
   #ultimo {  
    clear: both;  
    font-size: .5em;  
    background-color: #FF00FF;  
   }  
   